/* lien du site en ligne */
/* https://bakkioui.bes-webdeveloper-seraing.be/portfolio-walid-bakkioui */

/* Version desktop */

/*  Body   */
body {
    margin: 0;
}

#global {
    /* classe qui prend toutes la page */
    width: 1120px;
    /* largeur de 1120 pixels */
    margin: auto;
    /* Centrer la page */
    background-color: rgb(237, 242, 244);
    /* couleur de fond de la page */
    font-family: 'Merriweather', serif;
}

/*  Header */

.logo {
    /* classe pour l'image du logo */
    position: relative;
    /* sert a déplacer du contenu sur la page */
    right: -20px;
    /* déplacement de 20 px à droite */
    top: 10px;
    border-radius: 150px;
    /* arrondissement des bords de l'image */
}

nav ul {
    /* une liste d'éléments dans la navigation */
    list-style: none;
    /* suppression des puces sur la liste d'éléments */
    font-size: 20px;
    float: right;
    margin-top: -83px;
}

nav ul li {
    /* un élément dans une liste d'éléments dans la navigation */
    display: inline;
    /* affiche les listes sur une seul ligne */
    margin: 0 0 0 10px;
    /* espacement de 20 pixels à droite et à gauche entre chaque liste */
    padding: 0 2px;
    /*aggrandit la droite et la gauche de la boite de chaque élément de 30 pixels */
    background-color: rgb(43, 45, 66);
    /* couleur de fond de chaque boite */
    border-radius: 4px;
}

.gutters-nav {
    margin-right: 20px;
}

.colorful-background {
    /* classe pour changer la couleur de la boite sur laquelle on est */
    background-color: rgb(239, 35, 60);
    /* couleur de fond de la boite */
}

a {
    /* c'est un lien */
    text-decoration: none;
    /* suppression du surlignement de chaque lien */
    color: black;
}

nav a {
    color: white;
    /* couleur de texte */
}

.separation {
    /* classe pour créer une ligne de séparation */
    height: 5px;
    /* hauteur de 5 pixels */
    width: 100%;
    /* largeur qui prend 100% de la taille de la page */
    background-color: black;
    /* couleur de fond */
    margin: 20px 0;
    /* un espace de 20 pixels vers le bas*/
}

/* Section */
.col img {
    width: 100%;
}

section {
    padding: 0 20px;
}

.col {
    /* classe pour chaque colonne */
    margin-right: 1.78571%;
    /* gouttières de 1.78571% à droite et à gauche*/
    float: left;
    /* flottement des éléments à gauche */
}

.col-no-change-width {
    /* classe pour chaque colonne */
    margin-right: 1.78571%;
    /* gouttières de 1.78571% à droite et à gauche*/
    float: left;
    /* flottement des éléments à gauche */
}

.clear {
    /* classe pour indiquer si un élément peut être situé à côté d'éléments flottants qui
     le précèdent ou s'il doit être déplacé vers le bas pour être en dessous de ces éléments. */
    clear: both;
    /* affiche l'éléments en-dessous de l'élément précédent */
}

.last {
    /* classe pour la dernière colonne sur une meme ligne */
    margin-bottom: 40px;
    /* goutières de 40 pixels vers le bas */
    margin-right: 0 !important;
}

.col-4-12 {
    /* classe pour les colonnes de 4 sur 12 */
    width: 32.142857%;
    /* (1400-120)/12*4 */
    background-color: rgb(141, 153, 174);
    /* couleur de fond */
    text-align: center;
    /* centré le texte */
}

.col-5-12 {
    width: 40.625%;
    background-color: rgb(141, 153, 174);
    text-align: center;
    padding: 0 20px;
}

.col-6-12 {
    /* classe pour les colonnes de 6 sur 12 */
    width: 49.107143%;
    /* (1400-80)/12*6 */
    font-weight: bolder;
    /* taille de la graisse du texte */
    text-align: center;
    background-color: rgb(141, 153, 174);
}

.pad-contact {
    padding: 10px 0;
}

.pad-img {
    padding-bottom: 10px;
    float: left;
    margin: 0 10px;
}


.skill-bar-red {
    /* classe pour créer des barres blanches */
    width: 80%;
    /* largeur de 80% */
    height: 15px;
    /* hauteur de 15 pixels */
    background-color: #d90429;
    /* couleur de fond */
    margin-left: 20px;
    /* gouttières à gauche de 20 pixels */

}

.skill-bar-black {
    /* classe pour créer des barres noires */
    float: right;
    /* flottement des éléments à droite */
    height: 15px;
    /* hauteur de 15 pixels */
    width: 17.1%;
    /* largeur de 17.1% */
    background-color: black;
    /* couleur de fond */
    margin: -15px 20.5px 0 0;
    /* positionnemnt des barres*/
}

.pos-2-red {
    /*largeur différentes blanches */
    width: 60%;
    /* largeur de 60% */
}

.pos-2-black {
    /*largeur différentes noires */
    width: 37.1%;
    /* largeur de 37.1% */
}

.pos-3-red {
    /*largeur différentes blanches */
    width: 40%;
    /* largeur de 40% */
}

.pos-3-black {
    /*largeur différentes noires */
    width: 57.1%;
    /* largeur de 57.1% */
}

.pos-4-red {
    /*largeur différentes blanches */
    width: 45%;
    /* largeur de 45% */
}

.pos-4-black {
    /*largeur différentes noires */
    width: 52.1%;
    /* largeur de 52.1% */
}

.pos-5-red {
    /*largeur différentes blanches */
    width: 85%;
    /* largeur de 85% */
}

.pos-5-black {
    /*largeur différentes noires */
    width: 12.1%;
    /* largeur de 12.1% */
}

.pos-6-red {
    /*largeur différentes blanches */
    width: 42%;
    /* largeur de 42% */
}

.pos-6-black {
    /*largeur différentes noires */
    width: 55.1%;
    /* largeur de 55.1% */
}

.pos-7-red {
    /*largeur différentes blanches */
    width: 73%;
    /* largeur de 73% */
}

.pos-7-black {
    /*largeur différentes noires */
    width: 24.1%;
    /* largeur de 24.1% */
}

.col-3-12 {
    /* class pour les colonnes de 3 sur 12 */
    background-color: rgb(141, 153, 174);
    /* couleur de fond */
    width: 23.66071%;
    /* (1400-160)/12*3 */
    text-align: center;
    /* centre le texte */
}

.hide-col {
    background-color: rgb(237, 242, 244);
    height: 50px;
}

.skill-bar-white-contact {
    /* classe pour les barres blanches dans le contact*/
    background-color: white;
    /* couleur de fond */
    width: 75%;
    /* largeur de 85% */
    height: 18px;
    /* hauteur de 18 pixels */
    float: left;
    /* flottement des éléments à droite */
    margin: 10px 0 0 0;
    /* déplacement de ces barres */
}

.position-text-contact {
    /* positionner le texte dans les barres blanches */
    margin-top: 0;
    /*gouttière de 0 px vers le haut */
}

input[type="text"],
textarea,
input[type="message"] {
    width: 100%;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    height: 48px;
}

input[type="email"] {
    float: left;
    border: 1px solid;
    border-radius: 4px;
}

label {
    display: inline-block;
    vertical-align: top;
}

.position-btn {
    /* classe pour la position du bouton dans le formulaire */
    float: right;
    /* flottement des éléments à droite */
    margin-top: 0;
    /*gouttière de 20 px vers le haut */
}

iframe {
    width: 100%;
}

/*  Footer  */

footer {
    /* pied de page */
    background-color: rgb(217, 4, 41);
    /* couleur de fond */
    margin-top: 70px;
    /* gouttières de 70 pixels vers le haut */
}

footer p {
    /* texte du pied de page */
    font-size: 16px;
    /* taille de la police de 16 pixels */
    /* taille de la police de 16 pixels */
    padding: 30px 0;
    /*aggrandit le haut et le bas de la boite de chaque élément de 30 pixels */
    margin-left: 20px;
    /* gouttières de 20 pixels vers la gauche */
    color: white;
    /* couleur*/
}

.logo-network-social {
    /* classe pour les images des réseaux sociaux */
    float: right;
    /* flottement des éléments à droite */
    margin: -76px 20px 0 0;
    /* positionnemnt des images */
}

/* ------------------------------------------------------------------ */


/* X-large 1200px */

@media (min-width:993px)and (max-width:1200px) {
    #global {
        width: 100%;
        box-sizing: border-box;
    }
}

/* large 992px */
@media (min-width:769px)and (max-width:992px) {
    #global {
        max-width: 940px;
        width: 100%;
        box-sizing: border-box;
    }

    nav ul {
        /* une liste d'éléments dans la navigation */
        font-size: 15px;
        /* taille de la police de 16 pixels */
    }

    nav ul li {
        padding: 0 5px;
        /*aggrandit la droite et de la gauche de la boite de chaque élément de 1 pixels */

    }

}

/* meduim 768px */
@media (min-width:577px) and (max-width:768px) {
    #global {
        max-width: 729px;
        width: 100%;
        box-sizing: border-box;
    }

    nav ul {
        /* une liste d'éléments dans la navigation */
        font-size: 11.5px;
        /* taille de la police de 16 pixels */
    }

    nav ul li {
        /* un élément dans une liste d'éléments dans la navigation */
        margin: 0 0 6px 0;
        /* espacement de 0 pixels en haut, à doite, à gauche et
        de 5 pixels en bas entre chaque liste */
        padding: 0 1px;
        /*aggrandit la droite et de la gauche de la boite de chaque élément de 1 pixels */

    }

    .position-text-contact {
        font-size: 13px;
    }

}

/* small 576px*/

@media (max-width: 576px) {

    #global {
        max-width: 561px;
        width: 100%;
        box-sizing: border-box;
    }

    /*  Header */

    .logo {
        /* classe pour l'image logo */
        top: 5px;
        /* déplacement de 0 px à droite */
    }

    .separation {
        /* classe pour créer une ligne de séparation */
        height: 2px;
        /* hauteur de 2 pixels */
        margin-bottom: 10px;
        /* gouttières de 10 pixels vers le bas */
    }

    /* Navigation */

    nav ul {
        /* une liste d'éléments dans la navigation */
        font-size: 10px;
        /* taille de la police de 16 pixels */
        margin-top: -110px;
    }

    nav ul li {
        /* un élément dans une liste d'éléments dans la navigation */
        margin: 0px 21px 5px 0;
        /* espacement de 0 pixels en haut, à doite, à gauche et
        de 5 pixels en bas entre chaque liste */
        padding: 0 1px;
        /*aggrandit la droite et de la gauche de la boite de chaque élément de 1 pixels */
        display: block;
        text-align: center;
    }

    /* Section */

    h1 {
        /* titre de niveau 1 */
        font-size: 14px;
        /* taille de la police de 14 pixels */
    }

    h2 {
        /* titre de niveau 2 */
        font-size: 12px;
        /* taille de la police de 12 pixels */
    }

    h3 {
        /* titre de niveau 3 */
        font-size: 10px;
        /* taille de la police de 10 pixels */
    }

    p {
        /* paragraphe */
        font-size: 8px;
        /* taille de la police de 8 pixels */
    }

    .col {
        margin: 0 0 10px 0;
        /* gouttières de 10 pixels en haut et en bas et gouttières de 5 pixels */
        width: 100%;

    }

    .col-5-12 {
        padding: 0;
    }

    .col-5-12 p {
        margin: 0 20px 10px 20px;
    }

    .col-no-change-width {
        margin: 0 0 10px 0;
        /* gouttières de 10 pixels en haut et en bas et gouttières de 5 pixels */
        width: 100%;
    }

    .hide-col {
        display: none;
    }

    .skill-bar-white-contact {
        /* classe pour les barres blanches dans le contact*/
        width: 50%;
        /* largeur de 50% */
        height: 11px;
        /* hauteur de 11 pixels */
        margin: 15px 0 0 0;
        /* déplacement de ces barres */
    }

    label {
        /* légende pour un objet d'une interface utilisateur */
        display: block;
        /* transformer des éléments en élément de bloc*/
        width: auto;
        /* largeur auto */
    }

    .position-btn {
        /* classe pour la position du bouton dans le formulaire */
        font-size: 10px;
        /* taille de la police de 10 pixels */
        margin-bottom: 10px;
        /* gouttière de 10 pixels vers le bas */
    }

    /*  Footer  */

    footer {
        /* pied de page */
        margin-top: 20px;
        /* gouttières de 10 pixels vers le haut */
    }

    footer p {
        /* texte du pied de page */
        font-size: 8px;
        /* taille de la police de 8 pixels */
        padding: 20px 0;
        /*aggrandit le haut et le bas de la boite de chaque élément de 20 pixels */
    }

    .logo-network-social {
        /* positionnement des images sur les réseaux sociaux */
        margin: -54px 12px 0 0;
        /* positionnemnt des images */
    }

}