{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Changer votre mot de passe</h2>
        <form method="post">
            <div class="mb-3">
                <label for="password" class="form-label">Nouveau mot de passe</label>
                <input type="password" name="password" class="form-control" required autocomplete="new-password">
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmez le mot de passe</label>
                <input type="password" name="confirmPassword" class="form-control" required autocomplete="new-password">
            </div>
            <button class="btn btn-success w-100">Changer le mot de passe</button>
        </form>
    </div>
    {% block footer %}
    {% endblock %}
{% endblock %}
