{% extends 'base.html.twig' %}

{% block title %}Forza{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="shortcut icon" href="{{ asset('assets/images/favicon.svg') }}" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans&display=swap"
          rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/script.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}

{% block body %}
    <!--
      - #HEADER
    -->

    {% block headerContent %}{% endblock %}

{% block content %}{% endblock %}

    <footer class="footer">
        <div class="container">

            <div class="footer-bottom">

                <p class="copyright">
                    By Walid Bakkioui in {{ "now"| date("Y") }}
                </p>

            </div>

        </div>
    </footer>

{% endblock %}