{% macro tag(content, colorClass, route = null) %}
    <a href="#" class="featured-car-link {{ colorClass }}">
        <span>{{ content }}</span>
        <ion-icon name="arrow-forward-outline"></ion-icon>
    </a>
{% endmacro %}

{% macro comment(content, route = null) %}
    <button class="btn">{{ content }}</button>
{% endmacro %}
